
<nav id="navbar" class="navbar navbar-expand-md fixed-top navbar" 
         aria-label="Main navigation" 
         [class.navbar-dark]="!isBlog"
         [class.navbar-light]="isBlog"
          >
        <div class="container">  

            <!-- Text Logo -->
             
        <a class="navbar-brand fw-bold" style="font-family: Moirai One; font-size:xxx-large;" href="#">
            YAZAN
        </a>
        
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Desi</a> -->
            <!-- <button class="navbar-toggler p-0 border-0" type="button"
                    id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            (click)="toggleNavbarCollapsing()"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>


            <div class="navbar-collapse offcanvas-collapse collapse navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarNav">
                <ul class="navbar-nav ms-auto navbar-nav-scroll" style="font-size: medium;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blog</a>
                    </li>
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
