 <footer class="footer fixed-bottom">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="https://instagram.com/y7n_.z">
          <img src="../../assets/instagram.png" alt="insta"  height="32px">
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="https://instagram.com/y7n_.z">
         <img src="../../assets/meta.png" alt="threads" height="32px">
        </a></li>
        
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#about">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#skills">skills</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/blogs">Blog</a></li>

    </ul>
    <p>&copy;2023 YAZAN MUSLEH | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>