<div class="container-fluid" id="home" style="padding: 0px;">
    <app-header></app-header>

   <h1 class="fw-bold text-black c1" style="font-family: 'Kablammo';" >
        Yazan
        <br>
        __Musleh
    </h1>

    <img class="bg-img" src="../../assets/picture.jpg" alt="bg">
     
    <br>
</div>
<div class="container-fluid" style="background: linear-gradient(to bottom, #808080 0%, #0099CC 100%);" >
<div class="container">
<br>
<br>
<br>
<br>
<br>

    <app-about id="about"></app-about>

    <app-skill id="skills"></app-skill>
</div>
</div>