.bg-img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.6);
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

h1 {
    font-size: 7vw;
    position: absolute;
    margin-top: 30vh;
    margin-left: 20vw;
}
