
<div style="text-align: center;">
<h1 style="color: black; margin-top: 20vh; margin-bottom: 10vh;">Skills</h1>
</div>
<div class="container text-center">
    <div class="row">
        <!-- <div class="col text-center">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/android.png" alt="skill">
                </div>
            </div>
            <div class="row text-center">
                <p> Android</p>
            </div>
        </div> -->
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/frontend.png" alt="skill">
                </div>
            </div>
            <div class="row">
                <p>Frontend dev</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/backend.png" alt="skill">
                </div>
            </div>
            <div class="row">
                <p>Backend dev</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/karate.png" alt="skill">
                </div>
            </div>
            <div class="row text-center">
                <p>Karate</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <!-- <div class="col">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/dotnet.png" alt="skill">
                    </div>
                </div>
                <div class="row">
                    <p>Dotnet</p>
                </div>
            </div> -->
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/typing.png" alt="skill">
                    </div>
                </div>
                <div class="row">
                    <p>Speed typing</p>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/linux.png" alt="skill">
                    </div>
                </div>
                <div class="row text-center">
                    <p>Linux</p>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/target.png" alt="skill">
                    </div>
                </div>
                <div class="row text-center">
                    <p>Shooting</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<!-- HIRE ME SECTION -->
<div class="card" style="margin-top: 5vh;">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h3 class="card-title">Want to have your very own website?!</h3>
        <p class="card-text">
            Having your personal website is cool and cheap with a lot of advantages
            <br>
            1. Start your own blog
            <br>
            2. More dynamic than a resume
            <br>
            3. Design it yourself
            <br>
            4. It's just cooool!
        </p>
        <a href="#" class="btn btn-primary">Hire Me!</a>
    </div>
</div>

<br>
<br>
<br>

