<div class="container">
  <app-header></app-header>
<h1>✨ Blogs ✨</h1>
<p style="font-size: large;">Coming Soon...</p>

<!-- <div *ngFor="let blog of blogList">

<div class="card mb-3 container">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../assets/logo.png" class="img-fluid rounded-start" alt="{{blog.title}} image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title ">{{blog.title}}</h4>
        <p class="card-text large">{{blog.Summary}}</p>
      </div>
    </div>
  </div>
</div>

</div> -->
</div>